<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

	<!-- Servlets -->
	<servlet>
		<servlet-name>DatabaseApp</servlet-name>
		<servlet-class>edu.ycp.cs496.ghosts.servlets.DatabaseApp</servlet-class>
	</servlet>
	
	<!-- Servlet mappings (mapping of paths to servlets). -->
	<servlet-mapping>
		<servlet-name>DatabaseApp</servlet-name>
		<url-pattern>/DatabaseApp/*</url-pattern>
	</servlet-mapping>

</web-app>